package ${packageName}.entity;

#foreach ($column in $columns)
#if($column.javaField=='tenantId')
#set($IsTenant=1)
#end
#end
#if($IsTenant==1)
import ${basePackageName}.common.tenant.core.TenantEntity;
#else
import ${basePackageName}.common.mybatis.core.domain.BaseEntity;
#end
import java.time.LocalDate;
import java.time.LocalDateTime;
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
#foreach ($import in $importList)
import ${import};
#end

import java.io.Serial;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @since ${datetime}
 */
#if($IsTenant==1)
#set($Entity="TenantEntity")
#else
#set($Entity="BaseEntity")
#end
@Data
@Schema(name = "${functionName}对象")
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
@Accessors(chain = true)
public class ${ClassName} extends ${Entity}
    {

    @Serial
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
#if($column.javaField=='delFlag')
    @TableLogic
#end
#if($column.javaField=='version')
    @Version
#end
#if($column.isPk==1)
    @TableId(value = "$column.columnName")
#end
    @Schema(description = "$column.columnComment")
    private $column.javaType $column.javaField;

#end
#end

}
