package ${packageName}.mapper;

import org.apache.ibatis.annotations.Mapper;
import ${packageName}.entity.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;
import ${basePackageName}.common.mybatis.core.mapper.BaseMapperPlus;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @since ${datetime}
 */
@Mapper
public interface ${ClassName}Mapper extends BaseMapperPlus<${ClassName}, ${ClassName}Vo>
{

}
