package ${packageName}.domain.bo;

import java.time.LocalDate;
import java.time.LocalDateTime;
import ${packageName}.entity.${ClassName};
import io.swagger.v3.oas.annotations.media.Schema;
import ${basePackageName}.common.mybatis.core.domain.BaseEntity;
import ${basePackageName}.common.core.validate.AddGroup;
import ${basePackageName}.common.core.validate.EditGroup;
import io.github.linpeilie.annotations.AutoMapper;
import lombok.Data;
import lombok.EqualsAndHashCode;
import jakarta.validation.constraints.*;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}业务对象 ${tableName}
 *
 * @author ${author}
 * @since ${datetime}
 */
@Data
@Schema(name = "${functionName}更新基本参数")
@EqualsAndHashCode(callSuper = true)
@AutoMapper(target = ${ClassName}.class, reverseConvertGenerate = false)
public class ${ClassName}UpdateBo extends BaseEntity
{

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField) && ($column.query || $column.insert || $column.edit))
    /**
     * $column.columnComment
     */
#if($column.insert && $column.edit)
#set($Group="AddGroup.class, EditGroup.class")
#elseif($column.insert)
#set($Group="AddGroup.class")
#elseif($column.edit)
#set($Group="EditGroup.class")
#end
#if($column.required)
#if($column.javaType == 'String')
    @NotBlank(message = "$column.columnComment不能为空", groups = { $Group })
#else
    @NotNull(message = "$column.columnComment不能为空", groups = { $Group })
#end
#end
    @Schema(description = "${column.columnComment}")
    private $column.javaType $column.javaField;

#end
#end

}
